{% extends 'base.html'%}



{% block content %}
<h2>These are my cards</h2>

<div class= 'row'>
{% for me in mine %}
<div class="card" style="width: 18rem;">
    <img src="#" class="card-img-top" alt="">
    <div class="card-body">
      <h5 class="card-title">{{me.card.name}}</h5>
      <p class="card-text">Rarity: {{me.card.rarity}}</p></p>
<p class="card-text">Type: {% for tp in me.card.tipe.all %} {{tp}}{% endfor %}</p>
<form action="{%url 'post' me.id%}" method="post">
  {% csrf_token %}
  
  <button class="btn btn-primary">Post this card</button>
</form>
<p></p>
{% if user.is_superuser%}
<form action="{%url 'delete_singular' me.id%}" method="post">
 {% csrf_token %}
 
 <button class="btn btn-danger">Delete This card</button>
</form>
{% endif %}

      <p></p>
    </div>
  </div>
{% endfor %}

</div>
{% endblock %}